workflows/forum_collection.json
{
  "name": "Forum Threads Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/api/forum/threads",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "category",
              "value": "discovery"
            }
          ]
        }
      },
      "name": "Fetch Forum Threads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => ({json: {...item.json, source: 'forum', collected_at: new Date().toISOString()}}));"
      },
      "name": "Transform Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "spotify-reviews-raw",
        "fileName": "={{ $now.format('yyyy-MM-dd') }}/forum_threads_{{ $now.format('HH-mm-ss') }}.json",
        "dataPropertyName": "data"
      },
      "name": "Store in S3",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "channel": "slack",
        "text": "=Forum threads collection completed. Records: {{ $json.records_collected }}"
      },
      "name": "Send Success Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "channel": "slack",
        "text": "=Forum threads collection failed. Error: {{ $json.message }}"
      },
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Forum Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Forum Threads": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Store in S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in S3": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Send Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
